{
	"port": 3000,
	"dbpath": "/var/db/consensus",
	"logging":
	{
		"path": "/var/log/consensus",
		"console": false
	},
	"secrets": ["your cookie secret passphrase thingie", "which get passed to keygrip" ]
}
