extends layout

block content
	.page-header
		- if (locals.ititle)
			h1= ititle
		- else
			h1 New agenda
	- if (locals.agenda)
		- action = "/agendas/" + agenda.key + "/edit"
	- else
		- action = '/agendas/new'
	form.col-10(method="POST", action="#{action}")
		.form-group
			- if (locals.ititle)
				input.form-control.input-lg(type="text", placeholder="Title", name="ititle", value="#{ititle}") 
			- else
				input.form-control.input-lg(type="text", placeholder="Title", name="ititle")
			span.help-block Name of your meeting or the agenda title.
		.form-group
			textarea.form-control(rows='5', name="idesc", placeholder="Description of the meeting.")
				= idesc
			span.help-block You can use Markdown or html in the description.
		.form-group
			button.btn.btn-default(type="cancel") Cancel 
			&nbsp;
			button.btn.btn-primary(type="submit") Save
