extends layout

block content
	- if (!locals.authed_user)
		.jumbotron
			h1 Consensus
			p.
				Propose topics or questions to be discussed at your next meeting, or 
				vote on the proposals from your colleagues.
			p
				a.btn.btn-primary.btn-lg(href="") Sign in with Persona
	- else
		p Open agendas here.

		p 
			a.btn.btn-lg.btn-primary(href="/agendas/new") Create a new agenda &raquo;
