doctype 5
html
	head
		title= title
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='/css/bootstrap.min.css', media="screen")
	body
		.navbar
			a.navbar-brand(href="#") Consensus
			ul.nav.navbar-nav
				li.active
					a(href="#") Home
				- if (locals.authed_user !== null)
					li
						a(href="#") Agendas
					li
						a(href="#") Me
			- if (locals.authed_user !== null)
				button.btn.btn-default.navbar-btn#signin(type="button") Sign out
			- else
				button.btn.btn-default.navbar-btn#signout(type="button") Sign in
		.container
			block content
		script(src="http://code.jquery.com/jquery.js")
		script(src='/js/bootstrap.min.js')
		script(src="https://login.persona.org/include.js")
		script.
			navigator.id.watch(
			{
				loggedInUser: authed_user.email,
				onlogin: function(assertion)
				{
					// A user has logged in! Here you need to:
					// 1. Send the assertion to your backend for verification and to create a session.
					// 2. Update your UI.
					$.ajax(
					{ /* <-- This example uses jQuery, but you can use whatever you'd like */
						type: 'POST',
						url: '/auth/signin', // This is a URL on your website.
						data: {assertion: assertion},
						success: function(res, status, xhr) { window.location.reload(); },
						error: function(xhr, status, err)
						{
							navigator.id.logout();
							alert("Login failure: " + err);
						}
					});
				},
				onlogout: function() 
				{
					// A user has logged out! Here you need to:
					// Tear down the user's session by redirecting the user or making a call to your backend.
					// Also, make sure loggedInUser will get set to null on the next page load.
					// (That's a literal JavaScript null. Not false, 0, or undefined. null.)
					$.ajax(
					{
						type: 'POST',
						url: '/auth/signou', // This is a URL on your website.
						success: function(res, status, xhr) { window.location.reload(); },
						error: function(xhr, status, err) { alert("Logout failure: " + err); }
					});
				}
			});

			var signinLink = document.getElementById('signin');
			if (signinLink)
			{
				signinLink.onclick = function() { navigator.id.request(); };
			}

			var signoutLink = document.getElementById('signout');
			if (signoutLink)
			{
				signoutLink.onclick = function() { navigator.id.logout(); };
			}
