doctype 5
html
	head
		title= title
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='/css/bootstrap.min.css', media="screen")
		link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel="stylesheet")
	body
		nav.navbar.navbar-inverse.navbar-static-top(role="navigation")
			.navbar-header
				button.navbar-toggle(type="button", data-toggle="collapse", data-target=".collapsing-nav")
					span.src-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="#") Consensus
			.collapse.navbar-collapse.collapsing-nav
				ul.nav.navbar-nav
					li.active
						a(href="/") Home
					- if (locals.authed_user !== null)
						li
							a(href="/agendas/closed") History
						li
							a(href="/agendas/relevant") Your agendas
						li
							a(href="/settings") #{locals.authed_user.email}
				- if (locals.authed_user !== null)
					button.btn.btn-default.navbar-btn#signout(type="button") Sign out
				- else
					button.btn.btn-default.navbar-btn.signin(type="button") Sign in
		- if (locals.flash.info.length)
			.container
				.alert.alert-info.col-8-lg
					button.close(type="button", data-dismiss="alert") &times;
					- for (var i = 0; i < locals.flash.info.length; i++)
						= locals.flash.info[i]
		- if (locals.flash.error.length)
			.container
				.alert.alert-danger.col-8-lg
					button.close(type="button", data-dismiss="alert") &times;
					- for (var i = 0; i < locals.flash.error.length; i++)
						= locals.flash.error[i]
		- if (locals.flash.success.length)
			.container
				.alert.alert-success.col-8-lg
					button.close(type="button", data-dismiss="alert") &times;
					- for (var i = 0; i < locals.flash.success.length; i++)
						= locals.flash.success[i]
		.container
			block content
		script(src="http://code.jquery.com/jquery.js")
		script(src='/js/bootstrap.min.js')
		script(src="https://login.persona.org/include.js")
		- if (locals.authed_user)
			script.
				var authed_user = '#{authed_user.email}';
		- else
			script.
				var authed_user = null;
		script(src="/js/persona.js")
