extends layout

block content
	p Add a topic for discussion at 
		a(href="/agendas/#{agenda.key}")= agenda.title
		.
	form.col-10(method="POST", action="/agendas/#{agenda.key}/topics/new")
		.form-group
			- if (locals.ititle)
				input.form-control.input-lg(type="text", name="ititle", value="#{locals.ititle}")
			- else
				input.form-control.input-lg(type="text", placeholder="A summary of your topic", name="ititle")
		.form-group
			textarea.form-control(rows='5', name="idesc", placeholder="More about your topic (optional)")
				= locals.idesc
			span.help-block You can use Markdown or html in the description.
		.form-group
			button.btn.btn-default(type="cancel") Cancel
			&nbsp;
			button.btn.btn-primary(type="submit") Save
