extends layout

block content
	.page-header
		h1= topic.title
		small suggested by 
			a(href="mailto:#{topic.owner_id}")= topic.owner_id
	.well!= description
	p Proposed for discussion at 
		a(href="/agendas/#{agenda.key}")= agenda.title
		.
	p Voting report will go here.
